<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Main" connectionString="type=http;endpoint=http://localhost:8090/brightstar;storeName=nuzzgraph" />
  </connectionStrings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>

